*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#box{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: green;
    position: fixed;
    transition: top 25ms;
}